
body, html{
    height: 100%;
    margin: 0;
    background: url("pictures/content_backround.jpg");
    background-repeat: repeat;
}

/*Header container*/
.header {
    background: url("pictures/Mstuudio.jpg") left no-repeat, url("pictures/header_backround.jpg") left repeat;
    text-align: right;
    padding: 50px;
}

.header p {
    font-family: 'Impact';
    color: #C30609;
    font-size: 20px;
    float: bottom;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background: url("pictures/meny_backround.jpg");
}

/* Navbar links */
.topnav a {
    font-family: 'Impact';
    float: left;
    display: block;
    color: #C30609;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Links - change color on hover */
.topnav a:hover {
    background: url("pictures/header_backround.jpg");
    color: black;
}

/* Content p */
.content p {
    font-family: 'Impact';
    color: lack;
    font-size: 15px;
    margin-left: 30px;
}

/* Content h1 */
.content h1 {
    font-family: 'Impact';
    color: black;
    font-size: 20px;
    margin-left: 30px;
}